{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Eco gestão ERRO</title>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href = "{%static 'assets/dist/img/ico/favicon.png' %}" type="image/x-icon">
         <!-- Bootstrap -->
         <link href = "{%static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap rtl -->
        <!--<link href = "{%static 'assets/bootstrap-rtl/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>-->
        <!-- Theme style -->
        <link href = "{%static 'assets/dist/css/stylecrm.css' %}" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href = "{%static 'assets/dist/css/stylecrm-rtl.css' %}" rel="stylesheet" type="text/css"/>-->
    </head>
    <body>
        <div class="middle-box2 text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="error-text2"><h1>505</h1></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="error-desc2">
                        <p>Aconteceu um erro inesperado no sistema... a nossa equipe ja recebeu a notoficação do erro
                            você pode retornar para a pagina inicial: </p>
                        <a href = "{% url 'core:home' %}" class="btn green_btn">Home</a>
                    </div>
                </div>
            </div>
        </div>
         <!-- jQuery -->
         <script src = "{%static 'assets/plugins/jQuery/jquery-1.12.4.min.js' %}"></script>
         <!-- Bootstrap proper -->
         <script src = "{%static 'assets/bootstrap/js/popper.min.js' %}"></script>
         <!-- Bootstrap -->
         <script src = "{%static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>