{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editar Corretora{% endblock %}


{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-building"></i>
        </div>
        <div class="header-title">
            <h1>Editar Corretora</h1>
            <small>Edição de corretora</small>
        </div>
    </section>
{% endblock %}

{% block section %}
    <!-- Site wrapper -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card lobicard" data-sortable="true">
                    <div class="card-header all_card_btn">
                        <div class="card-title custom_title">
                            <h4>Fomulario Editação de Corretora</h4>
                        </div>
                    </div>
                    <!-- Exportar Arquivos> <-->
                    <div class="card-body">
                        <div class="table-responsive">
                            <form method="post">
                                {% csrf_token %}


                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}


                                <div class="form-row">
                                        <div class="form-group col-md-4 mb-0">
                                            {{ form.nome_corretora|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2,5 mb-0">
                                            {{ form.razao_social|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2,5 mb-0">
                                            {{ form.cnpj|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2,5 mb-0">
                                            {{ form.ativa|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2,5 mb-0">
                                            {{ form.saldo|as_crispy_field }}
                                        </div>
                                    </div>
                                <br>
                                <button type="submit" class="btn btn-add btn-sm">Salvar</button>
                                <a class="btn btn-secondary btn-sm" href="{% url 'configuracoes:lista_corretoras' %}"><i
                                        class="fa fa-arrow-left"></i>
                                    Voltar para Lista de Corretoras </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

