{% extends 'core/base_datatable.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Novo Nota{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-wifi"></i>
        </div>
        <div class="header-title">
            <h1>Novo Nota</h1>
            <small>Adição de Nota</small>
        </div>
    </section>
{% endblock %}

{% block section %}
    <!-- Site wrapper -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card lobicard" data-sortable="true">
                    <div class="card-header all_card_btn">
                        <div class="card-title custom_title">
                            <h4>Fomulario de Nova Nota</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                                         role="alert">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <code><h2>Numero da Nota: {{ n_nota }}</h2></code>
                            {% if not fk_nota %}
                                <form method="POST" class="was-validated" enctype="multipart/form-data"
                                      action="{% url 'notas:nova_nota' %}">
                                    {% csrf_token %}


                                    <p><span style="color: RED; ">{{ MSG }}</span></p>
                                    {% if mensagem %}
                                        <p><span style="color: RED; ">{{ mensagem }}</span></p>
                                    {% endif %}

                                    <hr>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 mb-0">
                                            {{ form.nota|as_crispy_field }}

                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <code><h2>Dados da Nota</h2></code>
                                    <hr>
                                    <br>

                                    <div class="form-row">
                                        <div class="form-group col-md-2 mb-4">
                                            {{ form.fk_corretora|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 mb-4">
                                            {{ form.data_pregao|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-2 mb-0">
                                            {{ form.data_liquidacao|as_crispy_field }}
                                        </div>

                                    </div>

                                    <input type="hidden" value="{{ fk_nota }}" name="fk_nota">

                                    <button type="submit" class="btn btn-add btn-sm">Salvar</button>
                                    <a href="{% url 'notas:lista_notas' %}"
                                       class="btn btn-secondary btn-sm">Voltar</a>

                                </form>
                            {% endif %}
                            {% if fk_nota %}
                                <form action="{% url 'notas:novo_ativo_nota' fk_nota %}" method="POST"
                                      id="NovoAtivoNota"
                                      novalidate>
                                    {% csrf_token %}
                                    <br>
                                    <hr>
                                    <code><h2>Itens do Pedido</h2></code>
                                    <hr>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 mb-0">
                                            {{ form2.daytrade|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-2 mb-0">
                                            {{ form2.operacao|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.fk_tipo_ativo|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-2 mb-0">
                                            {{ form2.fk_ticker|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-1">
                                            {{ form2.quantidade|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.preco|as_crispy_field }}
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <button class="btn btn-add btn-sm">Incluir</button>
                                    <br>
                                </form>
                                <br>
                                <h2>Listagem dos Ativos</h2>
                                <br>
                                <table class="table table-bordered table-striped table-hover" id="tb_itens_pedido">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nota</th>
                                        <th scope="col">Operação</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Ticker</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Valor Operação</th>
                                        <th scope="col">Editar|Excluir</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ativo in ativos %}
                                        <tr>
                                            <td>{{ ativo.id_ativo }}</td>
                                            <td>{{ ativo.fk_nota.nota }}</td>
                                            <td>{{ ativo.get_operacao_display }}</td>
                                            <td>{{ ativo.fk_tipo_ativo }}</td>
                                            <td>{{ ativo.fk_ticker.ticker }}</td>
                                            <td>{{ ativo.quantidade }}</td>
                                            <td>{{ ativo.preco }}</td>
                                            <td>{{ ativo.valor_operacao }}</td>
                                            <td>
                                                <a href="{% url 'notas:editar_ativo' ativo.id_ativo %}">
                                                    <button type="button" class="btn btn-add btn-sm"
                                                            data-toggle="modal"><i class="fa fa-pencil"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'notas:deletar_ativo_incluir' ativo.id_ativo %}">
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                            data-toggle="modal"><i class="fa fa-trash-o"></i>
                                                    </button>
                                                </a>

                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <br>
                                <h2>Listagem dos Ativos DayTrade</h2>
                                <br>
                                <table class="table table-bordered table-striped table-hover"
                                       id="tb_itens_pedido_dt">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nota</th>
                                        <th scope="col">Operação</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Ticker</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Valor Operação</th>
                                        <th scope="col">Editar|Excluir</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ativo in ativos_dt %}
                                        <tr>
                                            <td>{{ ativo.id_ativo_dt }}</td>
                                            <td>{{ ativo.fk_nota_dt.nota_dt }}</td>
                                            <td>{{ ativo.get_operacao_dt_display }}</td>
                                            <td>{{ ativo.fk_tipo_ativo_dt }}</td>
                                            <td>{{ ativo.fk_ticker_dt.ticker }}</td>
                                            <td>{{ ativo.quantidade_dt }}</td>
                                            <td>{{ ativo.preco_dt }}</td>
                                            <td>{{ ativo.valor_operacao_dt }}</td>
                                            <td>
                                                <a href="{% url 'notas:editar_ativo' ativo.id_ativo_dt %}">
                                                    <button type="button" class="btn btn-add btn-sm"
                                                            data-toggle="modal"><i class="fa fa-pencil"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'notas:deletar_ativo_incluir' ativo.id_ativo_dt %}">
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                            data-toggle="modal"><i class="fa fa-trash-o"></i>
                                                    </button>
                                                </a>

                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                                <br>
                                <br>
                                <code><h5>**SOMENTE PREENCHA AS TAXAS QUANDO FINALIZAR A INCLUSÃO DE TODOS ATIVOS DA
                                    NOTA**</h5></code>
                                <br>
                                <hr>
                                <code><h2>Taxas da Nota</h2></code>
                                <hr>
                                <br>

                                <form action="{% url 'notas:nova_taxa_nota' fk_nota %}" method="POST"
                                      id="NovaTaxaNota"
                                      novalidate>
                                    {% csrf_token %}
                                    <div class="form-row">

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.irrf|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_liquidacao|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_registro|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-1">
                                            {{ form2.taxa_termo_opcoes|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_ana|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.emolumentos|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_operacional|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_execucao|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.taxa_custodia|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.imposto|as_crispy_field }}
                                        </div>

                                        <div class="form-group col-md-1 mb-0">
                                            {{ form2.outros|as_crispy_field }}
                                        </div>
                                        {% if daytrade %}
                                            <div class="form-group col-md-1 mb-0">
                                                {{ form2.irrf_dt|as_crispy_field }}
                                            </div>
                                        {% endif %}
                                        <br>
                                    </div>
                                    <br>
                                    <button class="btn btn-add btn-sm">Incluir</button>
                                    <br>
                                </form>

                                <a href="{% url 'notas:lista_notas' %}"
                                   class="btn btn-info btn-sm">Concluir</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
{% block static %}
    <script src="{% static 'js/new_func.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#tb_itens_pedido').DataTable();
            $('#tb_itens_pedido_dt').DataTable();
        });

    </script>

    <script>
        $('#id_fk_corretora').selectpicker();
    </script>
{% endblock %}